body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E0E0E0;
}
.title{
	text-align: left;
}
.container {
    width: 80%;
    margin: -10px auto;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -15px;
}

.menu-item {
    flex: 0 0 30%;
}

.menu-item select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1350px;
    margin-top: 10px;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    align-items: end;
}
.game-container {
    width: 960px; /* Ширина контейнера */
    height: 680px; /* Высота контейнера */
    margin: 20px auto; /* Центрирование контейнера по горизонтали */
    border: 2px solid #000; /* Рамка контейнера */
    position: relative; /* Позиционируем для дочерних элементов */
    background-color: #F2F6ED;
}

body {
    background-image: url('123.png'); /* Замените 'background.jpg' на путь к вашему изображению */
    background-size: cover; /* Масштабирование изображения, чтобы оно занимало всю доступную область */
    background-repeat: no-repeat; /* Запрет повторения изображения */
}
.line {
    text-align: center;
    position: relative;
    }
.line::after {
	content: "";
    position: absolute;
    bottom: -3px; /* Расположение линии относительно текста */
    left: 10%; /* Расположение линии по центру */
    transform: translateX(-50%); /* Центрирование линии по горизонтали */
    width: 20%; /* Ширина линии равна половине текста */
    height: 1px; /* Толщина линии */
    background-color: #58754C; /* Цвет линии */
}    